In [100]:
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame,

SyntaxError: trailing comma not allowed without surrounding parentheses (Temp/ipykernel_19908/2784945561.py, line 3)

In [47]:
series_obj=Series(np.arange(8) , index=['row1', 'row2', 'row3','row4', 'row5', 'row6', 'row7', 'row8'])

In [48]:
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int32

In [49]:
series_obj["row5"]

4

In [50]:
series_obj[[4, 7]]

row5    4
row8    7
dtype: int32

In [109]:
np.random.seed(25)
df_obj=DataFrame(np.random.rand(36). reshape(6,6), 
index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
columns=['a', 'b', 'c','d','e','f'])
df_obj

             a         b         c         d         e         f
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [110]:
df_obj

             a         b         c         d         e         f
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [111]:
df_obj.loc[["row1","row5"], ["b", "d"]]

             b         d
row1  0.582277  0.185911
row5  0.559053  0.719930

# comparing with scaler

In [112]:
df_obj>.2

         a     b      c      d     e      f
row1  True  True   True  False  True  False
row2  True  True   True   True  True  False
row3  True  True  False   True  True   True
row4  True  True   True   True  True   True
row5  True  True  False   True  True   True
row6  True  True   True   True  True   True

## filtering with scaler

In [114]:
series_obj["row1":"row5"]

row1    0
row2    1
row3    2
row4    3
row5    4
dtype: int32

In [116]:
df_obj["row1":"row5"]

             a         b         c         d         e         f
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935

# setting value with scaler

In [124]:
series_obj["row1", "row5"] = 90
series_obj

row1    90
row2     1
row3     2
row4     3
row5    90
row6     5
row7     6
row8     7
dtype: int32